@model IEnumerable<CinemaManager.Models.Cinema.ProdMovie>

@{
    ViewData["Title"] = "ProdsAndTheirMovies";
}

<h1>ProdsAndTheirMovies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ProducerName
            </th>
            <th>
                ProducerNationality
            </th>
            <th>
                MovieTitle
            </th>
            <th>
                MovieGenre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pNat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mGenre)
                </td>

            </tr>
        }

    </tbody>
</table>
