@model IEnumerable<CinemaManager.Models.Cinema.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>

    <a asp-action="MoviesAndTheirProds">Movies And Their Prods</a>
    <a asp-action="MoviesAndTheirProds_UsingModel">Movies&Model</a>

</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                

               
            </tr>
        }
    </tbody>
</table>
